.BattleFieid{
  color: blueviolet;
  padding: 40px;
  background-color: gainsboro;
}
.BattleFieid:hover {
  background-color: rgb(207, 204, 204);
}

.sideHeaders{
  color:rgba(218, 45, 45, 0.849);
}

.topHeaders{
  color: rgb(0, 132, 255);
}

#board{
  margin: auto;
  width: 99%;
  height: 99%;
  border: 10px solid rgb(218, 9, 9)
}
#tickTack{
  margin: auto;
}

.playerIMG{
  width: 180px;
  height: auto;
}

#playerOne{
  position: absolute;
  left: 25px;
  top: 100px;
  border: 10px solid rgb(218, 9, 9);
}

#playerTwo{
  position: absolute;
  right: 25px;
  top: 100px;
  border: 10px solid rgb(9, 93, 218);
}

#Player1{
  position: absolute;
  left: 20px;
  top: 125px;
}
#Player2{
  position: absolute;
  right: 20px;
  top: 125px;
}
#header{
  
background-color: rgb(49, 49, 49);
}

#header-title{
  text-align: center;
  color: rgb(129, 255, 255);
}

